.Northern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7fffd4;
}

.Southern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eeaeee;
}
