.App{
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    background-color: rgb(237, 175, 228);
}